<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between w-100 pb-1">
            <div class="d-flex justify-content-between w-100">
                <p>Basic simulation of an epidemics</p>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex flex-column">
                    Actions
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="d-flex flex-column align-items-end">
                        <div class="d-flex">
                            <button class="btn btn-sm btn-primary mr-2" (click)="toggleAnimation()">
                                {{ runner?.animationPlaying ? 'Pause' : 'Resume' }}
                            </button>
                            <button class="btn btn-sm btn-warning" (click)="simulate()">Simulate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 d-flex flex-column align-items-center" *ngIf="isComputing">
        <mat-progress-bar mode="determinate" [value]="computationProgress.progression.percent"></mat-progress-bar>
        <div class="text-muted text-sm mt-1">Computing...</div>
    </div>
    <div class="row mb-3 d-flex flex-column align-items-center" *ngIf="isDownloading">
        <mat-progress-bar mode="determinate" [value]="downloadProgress"></mat-progress-bar>
        <div class="text-muted text-sm mt-1">Downloading...</div>
    </div>
    <div #canvasParent id="canvas-parent" class="row">
        <div class="d-flex justify-content-center w-100">
            <canvas #canvas2D id="canvas-2d" width="1000" height="500"></canvas>
        </div>
    </div>
</div>